<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">

<html>
<head>
    <title>[{oxmultilang ident="AZ_IPAYMENT_DYN_MAIN_TITLE"}]</title>
</head>
<!-- frames -->
<frameset  rows="15%,*" border="0" onLoad="document.getElementById('edit').src='[{$oViewConf->getSelfLink()|oxaddparams:$editurl}]&oxid=[{$oViewConf->getActiveShopId()}]';">
    <frame src="[{$oViewConf->getSelfLink()|oxaddparams:$listurl }]&oxid=[{$oViewConf->getActiveShopId()}]" name="list" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0">
    <frame src="" name="edit" id="edit" marginwidth="0" marginheight="0" scrolling="auto" frameborder="0">
</frameset>
</html>