[{if $edit->oxorder__az_3dcheckunavailable->value == 1}]
            <strong style="color:red;">[{oxmultilang ident="AZ_IPAYMENT_3DCHECKUNAVAILABLE"}]</strong>
        </td>
    </tr>
</table><br>
<table width="200" border="0" cellspacing="0" cellpadding="0" nowrap>
    <tr><td class="edittext" valign="top">
[{/if}]
[{$smarty.block.parent}]